<!--
The key things to note about this login page are the
path it posts to and the names of the username and password fields.
By default, Spring Security listens for login requests at /login and expects that the username and password
fields be named username and password. This is configurable, however. For example, the following configuration customizes the path and field names:

.and()
.formLogin()
.loginPage("/login")
.loginProcessingUrl("/authenticate")
.usernameParameter("user")
.passwordParameter("pwd")
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Taco Cloud</title>
</head>
<body>
<h1>Login</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<div th:if="${error}">
  Unable to login. Check your username and password.
</div>
<p>New here? Click
  <a th:href="@{/register}">here</a> to register.</p>
<form method="POST" th:action="@{/login}" id="loginForm">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" /><br/>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" /><br/>
  <input type="submit" value="Login"/>
</form>
</body>
</html>